@page "/cashier_console"
@attribute [Authorize(Policy = "CashierOnly")]

@if (!string.IsNullOrWhiteSpace(cashierName))
{
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center mb-4">Cashier's Console</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <div class="mb-4">
                    <label for="cashier" class="form-label">Cashier Name:</label>
                    <input type="text" id="cashier" class="form-control" @bind-value="cashierName" />
                </div>

                <SelectProductForSellingComponent OnProductSelected="SelectProduct"></SelectProductForSellingComponent>
                <SellProductComponent CashierName="@cashierName"
                                      SelectedProduct="selectedProduct"
                                      OnProductSold="SellProduct"></SellProductComponent>
            </div>

            <div class="col-12 col-md-8">
                <br />
                <TodayTransactionsComponent @ref="transactionComponent"></TodayTransactionsComponent>
            </div>
        </div>
    </div>
}

@code {
    private TodayTransactionsComponent transactionComponent;

    private Product selectedProduct;
    private string cashierName;

    [CascadingParameter]
    private Task<AuthenticationState> _authState { get; set; }

    private AuthenticationState authState;

    protected override async Task OnInitializedAsync()
    {
        authState = await _authState;
        cashierName = authState.User.Identity.Name;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            transactionComponent.LoadTransactions(cashierName);
        }
    }

    private void SelectProduct(Product product)
    {
        selectedProduct = product;
    }

    private void SellProduct(Product product)
    {
        transactionComponent.LoadTransactions(cashierName);
    }
}
