@page "/"

<div class="supermarket-container">
    <div class="supermarket-header">
        <h1 class="supermarket-title">Supermarket Management System</h1>
    </div>
</div>

<style>
    .supermarket-container {
        position: relative;
        overflow: hidden;
        padding: 3rem;
        text-align: center;
        background-color: #f8f9fa;
    }

    .supermarket-header {
        margin: 0 auto 5rem;
        max-width: 30rem;
    }

    .supermarket-title {
        font-size: 3rem;
        font-weight: bold;
    }
   
</style>

